[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/vim-terraform"]
	path = home/.vim/bundle/vim-terraform
	url = git://github.com/hashivim/vim-terraform
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = git://github.com/fatih/vim-go
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
