[core]
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = master

[push]
  default = simple
  autoSetupRemote = true

[user]
  name = Pete Fritchman
  email = petef@databits.net

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[rebase]
  autoStash = true

[alias]
  logp = log --pretty=fuller
