[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4

[init]
	defaultBranch = master

[push]
	default = simple
	autoSetupRemote = true

[alias]
	logp = log --pretty=fuller

[user]
	name = Pete Fritchman
	email = petef@databits.net

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[rebase]
	autoStash = true
[interactive]
	diffFilter = diff-so-fancy --patch
[diff-so-fancy]
	changeHunkIndicators = true
	stripLeadingSymbols = false
