URxvt.font: xft:Terminus:pixelsize=12
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.saveLines: 5000
URxvt.background: #011e02
URxvt.foreground: #e4e4e4
URxvt.cursorColor: green
URxvt.termName: xterm-256color

! see https://github.com/muennich/urxvt-perls/
URxvt.perl-lib: /home/petef/.urxvt/
URxvt.perl-ext-common: url-select,clipboard
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.url-select.underline: true
URxvt.url-select.launcher: firefox
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
